<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mutlubiev Case Project</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar fixed-top border-bottom navbar-light bg-white">
        <a class="navbar-brand" href="#"><img src="https://mutlubiev.com/images/mbe-logo.png"></a>
    </nav>
    <div class="container mt-5">
        <div class="row py-4" id="app">
            <div class="col-8 shadow-sm p-3 mb-5 bg-white rounded my-4">

                <form @submit="checkForm">
                    <div class="form-row">
                        <div class="form-group col-5">
                            <label>Şehir</label>
                            <select v-model="city" class="form-control form-control-lg">
                                <option v-for="city in cities" v-bind:value="city.CityId">
                                    {{ city.CityName }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-5 ml-4">
                            <label>İlçe</label>
                            <select v-model="district" class="form-control form-control-lg">
                                <option value="" selected>Seçiniz</option>
                                <option v-for="place in districts" v-bind:value="place.DistrictId">
                                    {{ place.DistrictName }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mt-3 row align-items-center">
                        <div class="form-group col-8">
                            <label>Tarih</label>
                            <div class="btn-group w-100 btn-group-lg btn-group-toggle" data-toggle="buttons">
                                <label class="btn"
                                    v-bind:class="{ 'btn-primary': dateType == 1 && district, 'btn-light': dateType != 1 && district, 'btn-disabled': !district}">
                                    <input type="radio" v-model="dateType" value="1" name="dateType" autocomplete="off"
                                        :disabled="!district"> Bugün
                                </label>
                                <label class="btn"
                                    v-bind:class="{ 'btn-primary': dateType == 2 && district, 'btn-light': dateType != 2 && district, 'btn-disabled': !district}">
                                    <input type="radio" v-model="dateType" value="2" name="dateType" autocomplete="off"
                                        :disabled="!district">
                                    Yarın
                                </label>
                                <label class="btn"
                                    v-bind:class="{ 'btn-primary': dateType == 3 && district, 'btn-light': dateType != 3 && district, 'btn-disabled': !district}">
                                    <input type="radio" v-model="dateType" value="3" name="dateType" autocomplete="off"
                                        :disabled="!district">
                                    İleri Tarih
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12" v-if="!district">
                            <div class="alert alert-warning" role="alert">
                                Tarih seçebilmek için önce ilçe seçmelisin
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-3 row align-items-center">

                        <div class="form-group col-5 mr-4" v-if="dateType == 3">
                            <label>Tarih</label>
                            <input type="date" class="form-control form-control-lg" v-model="pickerVal"
                                placeholder="Tarih seçiniz" min="2019-01-01" max="2020-12-31">
                        </div>
                        <div class="form-group col-3">
                            <label>Saat</label>
                            <select class="form-control form-control-lg" v-model="cleanTime"
                                :disabled="!district || !dateType || (dateType == 3 && !pickerVal)">
                                <option value="">Saat Seçin</option>
                                <option v-for="hour in hours" v-bind:value="hour.id">
                                    {{ hour.name }}
                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="row" v-if="!district || !dateType || (dateType == 3 && !pickerVal)">
                        <div class="col-12">
                            <div class="alert alert-warning" role="alert">
                                Saat seçebilmek için önce tarih seçmelisin
                            </div>
                        </div>
                    </div>

                    <h4 class="mt-4">
                        Hangi Ürünlerin Montajının Yapılmasını İstersin?
                    </h4>

                    <!-- products -->
                    <div class="row mt-3">
                        <product v-for="item in products" v-bind:item="item" v-bind:district="district"
                            v-bind:datetype="dateType" v-bind:pickerval="pickerVal" v-bind:cleantime="cleanTime"
                            v-bind:class="{'disabledElement': !district || !dateType || (dateType == 3 && !pickerVal) || !cleanTime}">
                        </product>
                    </div>
                    <!-- products end -->

                    <div class="form-group mt-4" v-bind:class="{'disabledElement': messages.length > 0}">
                        <label class="h4">Profesyonellere Notun Var Mı?</label>
                        <textarea v-model="note" class="form-control rounded bg-light" rows="3"
                            :disabled="messages.length > 0"></textarea>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 mb-1" v-for="err in errors">
                            <div class="alert alert-danger" role="alert">
                                {{err}}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <button type="submit" class="btn btn-danger btn-lg btn-block">Hizmetini Onayla</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-4 my-4">
                <summary-card v-bind:values="values" v-bind:messages="messages" v-bind:products="products"
                    v-bind:totalprice="totalPrice"></summary-card>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="summary-card">
        <div class="card w-100 shadow-sm border-0">
                <div class="card-header">
                    Hizmet Özeti
                </div>
                <div class="card-body">

                    <ul v-if="values && messages.length == 0">
                        <li>{{values.SelectedDate}} - {{values.SelectedTime}}</li>
                        <li>{{values.DistrictName}} - {{values.CityName}}</li>
                    </ul>

                    <ul v-if="messages.length > 0">
                        <li v-for="msg in messages">
                            {{msg}}
                        </li>
                    </ul>

                    <ul class="list-group">
                        <li v-for="item in products"
                            class="list-group-item d-flex justify-content-between align-items-center"
                            v-if="totalprice != 0 && item.quantity != 0">
                            {{item.ProductTitle}}
                            <span class="badge badge-danger badge-pill">{{item.quantity}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            v-if="messages.length == 0">
                            Toplam: <h2>{{totalprice}} TL</h2>
                        </li>
                    </ul>
                </div>
                <div class="card-footer"
                    v-if="messages.length == 0">
                    <button type="button" v-on:click="checkForm" class="btn btn-danger btn-lg btn-block">Hizmetini
                        Onayla</button>
                </div>
            </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/data.js"></script>
    <script src="js/app.js"></script>

</body>

</html>